
<div class="container stuff">
	<h2 class="featurette-title">About Me</h2>
	
	<div class="row">
		<div class="team-member">
			<img src="images/me.jpg" class="img-responsive img-circle" alt>
			<p class="text-muted"></p>
		</div>		
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<p class="large text-muted">
				I'm David. I'm a software engineer.<br>
				I like Python, pizza and video games. <br>
				<br>
			</p>
		</div>
	</div>
	
	<div class="row">
		<p>&nbsp;</p>
	</div>
</div>
