<div class="featurette">
	<div class="container stuff">
		<h2 class="featurette-title">Contact</h2>
		<p>
			<a href="mailTo:&#100;&#064;&#118;&#105;&#100;&#107;&#105;&#109;&#046;&#099;&#111;&#109;"><i class="fa fa-envelope-o" style="padding-right: .25em;"> </i>&#100;&#064;&#118;&#105;&#100;&#107;&#105;&#109;&#046;&#099;&#111;&#109;</a>
		</p>
		<p><a href="https://www.linkedin.com/pub/david-kim/21/450/3a2"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
		<p><a href="https://github.com/Tiggs"><i class="fa fa-github"></i> GitHub</a></p>
	</div>
</div>