
<div class="container stuff">
	<h2 class="featurette-title">Things I've Done</h2>
	
	<div class="row">
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/featurette.png" alt="about - tiggs bot, a python based irc bot" class="img-responsive">
				<p>Tiggs Bot, a Python IRC Bot</p>
			</a>
		</div>
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/projects/ambilight/preview_big.jpg" alt="about - ambient light clone" class="img-responsive">
				<p>AmbiLight Clone</p>
			</a>
		</div>				
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/featurette.png" alt="about - vidkim.com" class="img-responsive">
				<p>vidkim.com</p>
			</a>
		</div>				
	</div>
</div>
