
<div class="container stuff">
	<h2 class="featurette-title">Work</h2>
	<div class="row">
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/projects/tiggsbot/preview_big.jpg" alt="about - tiggs bot, a python based irc bot" class="img-responsive featured">
				<p>TiggsBot, a NodeJS IRC Bot</p>
			</a>
		</div>
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/projects/ambilight/preview_big.jpg" alt="about - ambient light clone" class="img-responsive featured">
				<p>AmbiLight Clone</p>
			</a>
		</div>				
		<div class="col-sm-4">
			<a href="/projects">
				<img src="images/projects/moonkin/preview_big.jpg" alt="about - vidkim.com" class="img-responsive featured">
				<p>Moonkin.io</p>
			</a>
		</div>				
	</div>
</div>
