		<div class="featurette">
			<div class="container stuff">
				<h2 class="featurette-title">Resume</h2>

				<table class="resume_links">
						<tr>
							<td><a href="resume.pdf" target="_self"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
							<td><a href="resume.docx" target="_self"><i class="fa fa-file-word-o"></i> Word Document</a></td>
							<td><a href="resume.txt" target="_self"><i class="fa fa-file-text-o"></i> Plain Text</a></td>
						</tr>
				</table>
				<div id="resume">
					<div class="resume-top">
						<h1>David Kim</h1>
						<h2><a href="mailTo:&#100;&#064;&#118;&#105;&#100;&#107;&#105;&#109;&#046;&#099;&#111;&#109;">&#100;&#064;&#118;&#105;&#100;&#107;&#105;&#109;&#046;&#099;&#111;&#109;</a></h2>
					</div>
					
					<div class="resume-line">
						<h3>Summary</h3>
						<p>A software engineer with a strong background in web and front end technology including Python and JavaScript, looking for new opportunities and challenges of scale.</p>
					</div>
					<div class="resume-line">
						<h3>Experience</h3>
						<i>Novetta Solutions (Software Engineer): Jan 2011 - Present</i>
						<ul>
							<li>Designed and implemented a Titan graph database with a web-based front end to allow law enforcement agencies to quickly search and investigate affiliations of suspects</li>
							<li>Enhanced a data warehouse search system for law enforcement agencies with a new JSON based query feature to allow for external site searches</li>
							<li>Enhanced the usability of a Spring-based collaborative event management capability with a new web interface, used by defense personnel to notify each other of event statuses</li>
							<li>Supplied live communication and information statuses to defense personnel while performing maintenance and deployments</li>
							<li>Designed a kiosk web page with video for our enterprise service monitoring product for a Department of Defense trade show</li>
							<li>Mentored interns and guided them through a Spring based code base, providing feedback on their performance and peer reviewing their code</li>
							<li>Assisted in quality assurance and responded to feedback from senior testers</li>
							<li>Researched and designed the tools necessary to build an XML-based automated reporting utility for monitoring metrics for services to, saving the customer time</li>					
						</ul>
						<i>TeleTown Hall (Software Developer): Aug 2008 - Jan 2009</i>
						<ul>
							<li>Created a PHP based solution for automated invoice generation and billing for clients </li>
						</ul>
					</div>
					<div class="resume-line">
						<h3>Technical</h3>
						<p><strong>Languages:</strong> Python, HTML, JavaScript, Java, Groovy
						<p><strong>Databases:</strong> TitanDB, OracleDB, SQLite
						<p><strong>Frameworks & Libraries:</strong> JQuery, TinkerPop, AngularJS, PyTest, Bootstrap
						<p><strong>Other:</strong> Adobe Photoshop, Vim, Git, Amazon Web Services, BIRT					
					</div>
					<div class="resume-line">
						<h3>Projects</h3>
						<p>TiggsBot - <a href="http://github.com/tiggs/tiggsbot">(GitHub Link)</a> - A Python-based Internet Relay Chat bot to enhance a chat room experience, accepts commands and logs quotes from users</p>
					</div>
					<div class="resume-line">
						<h3>Education</h3>
						<i>George Mason University - Fairfax, VA</i>
						<ul>
							<li>Bachelor of Science in Computer Science, completed Dec 2011</li>
						</ul>
					</div>
					<div class="resume-line">
						<h3>Likes</h3>
						<ul>
							<li>Gaming</li>
							<li>DIY Electronics</li>
							<li>Running</li>
							<li>Caffeine</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>